@import "tailwindcss";

@font-face {
  font-family: 'ApfelGrotezk';
  src: url('https://assets.loscolmebrothers.com/fonts/ApfelGrotezk/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
